*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #111;
}

h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    margin-top: 10%;
    overflow: hidden;
}

h1 span{
    display: inline-block;
}