*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #111;
}

body{
    overflow-x: hidden;
}

/* GSAP to from */
/* 
#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
}

.box2{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
}

.box3{
    height: 50px;
    width: 50px;
    background-color: blue;
}

.box4{
    height: 50px;
    width: 50px;
    background-color: cyan;
}

.nav{
    display: flex;
    align-items: center;
    color: wheat;
    justify-content: space-between;
    padding: 30px;
}

.part2{
    display:flex;
    gap:50px;
}

h1{
    color: white;
} */

#page1{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(41, 208, 153);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

#page2 h1{
    font-size: 40vw;
    text-transform: uppercase;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 250, 167);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    height: 200px;
    width: 200px;
    background-color: crimson;
}

